* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

body {
  background: linear-gradient(to bottom, white 0%, #f1f1f1 9%, #e1e1e1 100%, #f6f6f6 100%, #e1e1e1 101%); }

.col-centered {
  float: none;
  margin: 0 auto; }

.navbar-brand {
  float: right; }

#prof_photo {
  width: 40px;
  position: relative;
  bottom: 1vh; }

@media screen and (max-width: 768px) {
  #index_panel h2 {
    font-size: 16px;
    font-weight: bold; }
  #index_panel p {
    font-size: 12px;
    padding: 0 2vw; } }

@media screen and (max-width: 544px) {
  .carousel-caption h2 {
    font-size: 12px; }
  .carousel-caption span {
    font-size: 10px; }
  #prof_photo {
    margin-bottom: 3vh; }
  .navbar-header {
    height: 8vh; }
    .navbar-header .navbar-toggle {
      margin-top: 2vh; }
  .nav li a {
    font-size: 20px; } }
