body {
  background-color: #72bcd4; }

#prof_photo {
  width: 40px;
  position: relative;
  bottom: 1vh; }

#page_grid {
  margin-top: 15vh; }

.main_jumbo {
  box-shadow: 0 0 10px 5px black; }

.page-container .row:first-child {
  margin-top: 10vh; }

.page-container .row:nth-child(2) {
  text-align: center; }
