#programming_panel, #design_panel, #communication_panel {
  display: flex;
  flex-direction: row; }
  #programming_panel .gen-panel, #design_panel .gen-panel, #communication_panel .gen-panel {
    flex: 1;
    width: 15vw;
    margin-bottom: 5vh; }
    #programming_panel .gen-panel .panel-heading, #design_panel .gen-panel .panel-heading, #communication_panel .gen-panel .panel-heading {
      text-align: center; }
    #programming_panel .gen-panel .panel-body img, #design_panel .gen-panel .panel-body img, #communication_panel .gen-panel .panel-body img {
      display: block;
      margin: 1vh auto 2vh auto; }
  #programming_panel .gen-panel + .gen-panel, #design_panel .gen-panel + .gen-panel, #communication_panel .gen-panel + .gen-panel {
    margin-left: 3vw; }
  #programming_panel .gen-panel:hover, #design_panel .gen-panel:hover, #communication_panel .gen-panel:hover {
    box-shadow: 0 0 2px 2px black;
    transform: scale(1.4);
    transition: all .4s ease-in-out; }

#skills_about .jumbotron {
  margin-top: 10vh;
  border-radius: 10px;
  padding: 2vw; }
  #skills_about .jumbotron p {
    font-size: 14px; }

@media screen and (max-width: 1200px) {
  #programming_panel, #design_panel, #communication_panel {
    flex-direction: column !important; }
    #programming_panel .gen-panel, #design_panel .gen-panel, #communication_panel .gen-panel {
      width: auto !important; }
    #programming_panel .gen-panel + .gen-panel, #design_panel .gen-panel + .gen-panel, #communication_panel .gen-panel + .gen-panel {
      margin-left: auto; }
    #programming_panel .gen-panel:hover, #design_panel .gen-panel:hover, #communication_panel .gen-panel:hover {
      box-shadow: none;
      transform: none;
      transition: none; }
    #programming_panel .row, #design_panel .row, #communication_panel .row {
      width: 100%;
      margin: 0 auto; } }
