@import 'sass_vars'

#skills_about
  .jumbotron
    margin-top: 10vh
    border-radius: 10px
    padding: 2vw
    p
      font-size: 14px

//For XS displays
//@media screen and (max-width: $mediaSMWidth)
