/* -----------------------------
Auxiliary Services site uses BluePrint CSS
Icons are from various free sources
Contact:nate at nernst1@uncc.edu or nate@varloodesign.com
------------------------------*/
/* modify blueprint ------------------------------*/
h2, h3, h4, h5, h6{color:#224A27;font-weight:bold;clear:both}
#main h4{margin-bottom:10px}
#main p, #main li, #main dd, #main dt{color:/*#5E5E5E*/#555;font-family:Calibri,Arial,sans-serif;font-size:14px;line-height:1.5em}
#main a:active {position:relative;top:1px;}
#main dd, #main ol li{padding-bottom:10px}
#main .notice{background:#FFF8D1 url(img/i_notice.png) no-repeat scroll 10px center;border:2px solid #D9B74C;color:#224A27;margin:10px 0px;padding:10px 50px;clear:both;overflow:auto}
#main .notice .colborder{border-color:#D9B74C}
#sidebar p, #sidebar li{font-family:Arial,sans-serif;font-size:12px}
.wide{width:100%}
#front_boxes h4 a,#footer a{text-decoration:none}
#front_boxes p{clear:none}
a{color:#224A27}
a:hover{color:#AA8924}
#content, #links{}
#main p img.right{float:right;margin:0px;padding:0px 0px 10px 20px}
div.caption-200 img {display:block;}
div.caption-200 {background:#EEE none repeat scroll 0 0;border:1px solid #DDD;clear:right;color:#666;float:right;font-size:11px;margin:10px 0 10px 20px;padding:4px;width:200px;}
/* header ------------------------------*/
#header{background:transparent url(img/bg_header.png) repeat-x scroll left top;border-top:1px solid #D9B74C;height:100px;margin:0px;padding:0px}
#header .container{background:transparent url(img/bg_header3.jpg) no-repeat scroll center top;height:100px;margin-bottom:0px}
#header h1  {background:url("img/logo-parking.png") no-repeat scroll left 9px transparent;display:block;height:90px;text-indent:-3000em;width:195px;}
#header .span-18, #header h1{padding:0px;margin-bottom:0px}
#header .uncc{background:transparent url("img/logo_uncc2.png") no-repeat scroll right 20px;display:block;height:80px;margin:0px;text-indent:-3000em;width:100%}
#header p{margin:0}
/* main content ------------------------------*/
#content .container{}
#content{background:url(img/bg_content.png) repeat-x left top;border-top:solid 1px #FFF;margin-bottom:20px;padding-top:10px}
img.center{margin:0px 20px}
#content .span-18, #main dl{border-bottom:dotted 1px #DFDFDF;padding-bottom:10px}
h2.icon{display:block;line-height:50px;height:50px;background-repeat:no-repeat;background-position:10px center;padding-left:70px}
h3.section{margin-top:1em}

/* link icons */
.location a, .hours, .phone, #sidebar .link a{background-position:center left;background-repeat:no-repeat;float:left;width:100%;line-height:20px;padding:5px 0px 5px 23px;border-bottom:1px solid #EEE}
#main a.external{background-image:url(img/i_external.png);background-repeat:no-repeat;background-position:right center;padding-right:12px}
#main a.img.external{background-image:none;padding:0px;}
#main .link a.external{background-position:left center}
.pdf,#main a.pdf.external{background:url(img/i_pdf.png) no-repeat left center;padding:1px 0px 1px 22px}
.xls,#main a.xls.external{background:url(img/i_xls.png) no-repeat left center;padding:1px 0px 1px 22px}
.img{background:url(img/i_img.png) no-repeat left center;padding-left:22px}
#video, #video a{background-image:url(img/i_youtube.jpg)}
.location a{background-image:url(img/i_map2.png)}
a.map img{background-image:url(img/i_img.png)}
a.map.img,.btn a.map{background:url(img/i_map2.png) no-repeat left center;padding-left:22px}
.hours{background-image:url(img/i_clock2.png)}
.phone{background-image:url(img/i_phone2.png)}
#sidebar .link a{background-image:url(img/i_link.png)}
#content li{line-height:22px}
#main dt{font-family:Arial,sans-serif;color:#212121}
#main dd{padding-bottom:10px}
#content a.more{float:right;width:74px;height:24px;text-indent:-100em;background:url(img/bg_more.png) no-repeat left top;margin:0px 20px 10px 10px}
#content a.more:hover{background:url(img/bg_more.png) no-repeat left bottom}
ol#print li{padding-bottom:20px;line-height:20px}
ol#print li img{padding:20px 0px}
/* striped tables */
table caption{background:#C2D09B;}
col.dept{border-right:1px solid #999}
table th{border-bottom:2px solid #E6E9DF}
table tr {background:;}
table tr.odd {background-color:#F2F6EB;border:1px solid #F2F6EB;}
.fsTable tr.odd{background:none}
ul.zebra{padding-bottom:10px}
ul.zebra li.stripe{background-color:#F2F6EB}
ul.divide{list-style-type:none;border:1px solid #F2F6EB;padding:0px;margin:0px auto 10px}
#main ul.divide li{text-align:right;padding:2px 10px}
ul.divide li .dept{float:left;text-align:left;line-height:24px;width:60%;border-right:1px solid #E6E9DF;margin-right:10px}
ul.divide li.top, .top{border-top:2px solid #E6E9DF}
ul.divide li.bottom, .bottom{border-bottom:1px solid #E6E9DF}
ul#small,table.small{width:270px}
ul#med,table.med{width:500px}
ul.check, ul.check2,ul.check3,ul.todo{padding-left:0px;margin:0px;border:none;text-align:left}
#main ul.check li,#main ul.check2 li,#main ul.check3 li,#main ul.todo li,#main ul.check2.zebra li, #main ul.zebra.check2 li{list-style-type:none;}
#main ul.check li{line-height:30px;background:url(img/i_check.png) no-repeat left 11px;padding-left:15px}
#main ul.check2 li{background:url(img/i_check2.png) no-repeat left 4px;padding:0px 0px 10px 20px}
#main ul.check2.zebra li, #main ul.zebra.check2 li{background:url(img/i_check2.png) no-repeat left 7px;line-height:30px;padding:0px 0px 0px 20px}
#main ul.check li.stripe, #main ul.check2 li.stripe{background-color:#FBFCF9;display:block;border-top:1px solid #F2F6EB;border-bottom:solid 1px #F2F6EB}
#main ul.todo li {background:url("img/i_check-todo.png") no-repeat scroll left 3px transparent;padding:0px 0px 10px 20px;border-bottom:1px solid #eee;}
/* ajax popup ------------------------------*/
#ajax{padding:10px;border:1px solid #F2F6EB}
#ajax ol li{padding:0px}
/* PARKING ECOMMERCE */
#login_button {
	background: url('img/login.png') no-repeat;
	cursor: pointer;
	border: none;
	width: 240px;
	height: 52px;
	xborder: 2px solid #17713B;
	xpadding: 3px 10px;
	xmargin: 15px 5px 5px 0;
	xbackground-color: #FFF;
	xcolor: #FFF;
	xfont-size: 1em;
	xcursor: pointer;
}

#login input{
	padding:6px; 
	background-color:#f5f5f5; 
	border:1px solid #CCC;
	width: 190px;
	font-size: 16px;
	}
table.receipt { font-size: 1.2em !important; margin: 15px 0; width: 400px; }
.error {color: #DF151D !important;}
fieldset {padding:6px; border:1px solid rgb(204, 204, 204);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}

	/* MAINMENU */
	#info {background:#F2F6EB;padding:15px;border:1px solid #CCC;}
	p.need-selection a, p.selected a,p.display {background:url(img/selection.png) no-repeat left top;border:1px solid #CCC;clear:both;float:left;font-size:17px;margin-bottom:20px;padding:15px 0;text-decoration:none;text-indent:60px;width:420px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
	p.selected a {background-position:left bottom;color:#224A27;}
	p.display {background-position:left bottom;}
	p.need-selection a:hover, p.selected a:hover,p.display:hover {border-color:#AAA;background-color:#F2F6EB;box-shadow:0px 0px 2px #999;-moz-box-shadow:0px 0px 2px #999;-webkit-box-shadow:0px 0px 2px #999;}
	.display.address  {padding-bottom:4px;padding-top:4px;}
	.display.address a {padding-left:60px;}
	
	/* PURCHASE DECAL */
	#main button {margin-right:20px;}
	#main select {height:30px;padding:4px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
	#main select option {border-bottom:1px solid #DDD;padding:8px;}
	#main input.textbox {padding:4px;width:200px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
	#main .total,#main .decal {background:none repeat scroll 0 0 #F9F9F9;font-size:18px;padding:10px;float:left;clear:both;border:1px solid #DDD;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
	#main .decal {}
	.total .number,.decal .description {color:#224A27;font-weight:bold;}
	
	/* ADDRESS & VEHICLES */
	table#address td,table#vehicles td {border-bottom:1px solid #EEE;}
	table#address,table#vehicles {width:600px;}
	table#address td.street {width:300px;}

/* footer ------------------------------*/
#footer{font-size:11px;color:#999;padding-top:20px;}
#footer .container {padding-top:20px;border-top:3px double #EEE;}
#footer a{color:#999}
#footer a.crown{background:url("img/bg_crown_small2.png") no-repeat left center;margin-left:4px;padding-left:20px}
#footer a:hover{color:#666}
#footer img {vertical-align:middle;}
#flinks{text-align:right;margin-right:0px}
#flinks li{background:none;display:inline}
#flinks li a{padding-left:5px;padding-right:5px}
#flinks .last a{padding-right:0px}